:root{
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  --boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --font: 'Manrope', sans-serif;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  background-color: var(--LightGrayishBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font);
}

.container{
  background-color: white;
  width: 320px;
  /* height: 340px; */
  overflow: hidden;
  border-radius: 3%;
  box-shadow: var(--boxShadow);
}

.drawers{
  width: 100%;
  height: auto;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 0% 83%);
}

.heading{
  /* border: 2px solid red; */
  color: var(--VeryDarkGrayishBlue);
  width: 80%;
  margin: 0 auto;
  margin-top: -20px;
  font-size: 1rem;
  /* word-spacing: 2px; */
  line-height: 1.6; 
}

.paragraph{
  /* border: 2px solid green; */
  /* border: 2px solid #00968800; */
  color: var(--DesaturatedDarkBlue);
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px; 
  line-height: 1.6;
  font-size: .76rem;
  word-spacing: 1px;
  /* border-right-width: 38px; */
}

.author{
  /* border: 2px solid rgb(97, 36, 197); */
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.author-list{
  /* background-color: yellow; */
  /* border: 2px solid red; */
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 2px;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 16px;
}
.avatar{
  width: 40px;
  border-radius: 50%;
}

.author-text{
  font-size: .5rem;
}
.name{
  color: var(--VeryDarkGrayishBlue);
  font-size: .7rem;
  margin-top: 5px;
}
.date{
  margin-top: -9px;
  color: var(--DesaturatedDarkBlue);
}

.author-list .item-3{
  /* border: 1px solid red; */
  margin-left: auto;
  margin-right: 3px;
  color: var(--DesaturatedDarkBlue);
  font-size: 15px;
  padding: 6px;
  background-color: var(--LightGrayishBlue);
  border-radius: 50%;
}

/* === JS/CSS mobile styles === */

.hide{
  display: none;
}

.adjust-author-container{
  width: 100%;
  background-color: rgb(91, 188, 52); 
  border: 1px solid var(--VeryDarkGrayishBlue);
  background-color: var(--VeryDarkGrayishBlue);
  margin-bottom: 0px;
}

.shareText{
  font-size: .85rem;
  font-family: var(--font);
  color: white;
  letter-spacing: 7px;
  padding-left: 20px;
  padding-top: 12px;
  text-transform: uppercase;
}

.social-links{
  /* background-color: aqua; */
  /* border: 2px solid red; */
  padding: 0px;
  margin-top: 16px;
}
.social-links img{
  margin-right: 10px;
}

.author-list .share-state-btn{
  background-color: var(--DesaturatedDarkBlue);
  color: var(--LightGrayishBlue);
  margin-right: 35px;
  margin-top: 15px;
}




@media(min-width: 768px){
  /* body{
    background-color: rgb(66, 57, 57);
  } */

  .container{
    width: 560px;
    height: 225px;
    border-radius: 3%;
    display: flex;
  }

  .drawers{
    /* border:#824edc 2px solid; */
    border-radius: inherit;
    clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
    width: 125%;
    height: 100%;
    object-fit: fill;
  }
  
  .flex-item{
    flex: 1.1;
    /* border: 2px solid blue; */
  }

  .grow{
    flex-grow: 2;
    /* border: 2px solid yellow; */
  }

  .heading{
    /* border: 2px solid rgb(15, 15, 11); */
    width: 80%;
    margin-top: 22px;
    line-height: inherit;

  }
  .paragraph{
    /* border: 2px solid pink; */
    /* display: none; */
    width: 80%;
    font-size: .63rem;
    
  }


  .author-list .item-3 {
    margin-right: -2px;
  }

}




